@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-nomad-pink: #ff4d85;
  --color-nomad-sunset: #ff8c42;
  --color-nomad-dark: #000000;
  --color-nomad-gray: #1a1a1a;

  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-outfit), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  background-color: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HIDE SCROLLBAR */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}


@utility bg-grain {
  background-image: url('/noise.svg');
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.25;
}

/* LENIS SMOOTH SCROLL */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}